venv_proj_ideas/
venv_DSR_project_ideas/
.git/
.env
model/
mod_finetuned/
exp_finetune/
afa_docs/
experiments

search_tools/
chroma_db_oai/
docs/
streamlit_upload/
__pycache__/
marco_bot_clone/documents_pdf/
marco_bot_clone/pdf_titles copy
marco_bot_clone/data_streamlit
