.gitignore
venv_proj_ideas/
venv_DSR_project_ideas/
.git/
.env
model/
mod_finetuned/
exp_finetune/
results
afa_docs/
all_pdfs/
experiments

agent.ipynb
annotations.xml
chroma_db_oai/
docs/
search_tools/
data_streamlit/
__pyache__/